/*	Montserrat regular */

@font-face {
    font-family: Montserrat;
    src: url('fonts/Montserrat-Regular/Montserrat-Regular.eot?') format('eot'),
    url("fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
    url('fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'),
    url('fonts/Montserrat-Regular/Montserrat-Regular.ttf') format('truetype'),
    url('fonts/Montserrat-Regular/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

/*	Montserrat bold */

@font-face {
    font-family: Montserrat;
    src: url('fonts/Montserrat-Bold/Montserrat-Bold.eot?') format('eot'),
    url("fonts/Montserrat-Bold/Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
    url('fonts/Montserrat-Bold/Montserrat-Bold.woff') format('woff'),
    url('fonts/Montserrat-Bold/Montserrat-Bold.ttf') format('truetype'),
    url('fonts/Montserrat-Bold/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

/*	StudioGothicAlternateTrial regular */

@font-face {
    font-family: StudioGothicAlternateTrial;
    src: url('fonts/StudioGothicAlternateTrial-Regular/StudioGothicAlternateTrial-Regular.eot?') format('eot'),
    url("fonts/StudioGothicAlternateTrial-Regular/StudioGothicAlternateTrial-Regular.eot?#iefix") format("embedded-opentype"),
    url('fonts/StudioGothicAlternateTrial-Regular/StudioGothicAlternateTrial-Regular.woff') format('woff'),
    url('fonts/StudioGothicAlternateTrial-Regular/StudioGothicAlternateTrial-Regular.ttf') format('truetype'),
    url('fonts/StudioGothicAlternateTrial-Regular/StudioGothicAlternateTrial-Regular.svg#StudioGothicAlternateTrial') format('svg');
    font-weight: 400;
    font-style: normal;
}

/*	StudioGothicAlternateTrial bold */

@font-face {
    font-family: StudioGothicAlternateTrial;
    src: url('fonts/StudioGothicAlternateTrial-Bold/StudioGothicAlternateTrial-Bold.eot?') format('eot'),
    url("fonts/StudioGothicAlternateTrial-Bold/StudioGothicAlternateTrial-Bold.eot?#iefix") format("embedded-opentype"),
    url('fonts/StudioGothicAlternateTrial-Bold/StudioGothicAlternateTrial-Bold.woff') format('woff'),
    url('fonts/StudioGothicAlternateTrial-Bold/StudioGothicAlternateTrial-Bold.ttf') format('truetype'),
    url('fonts/StudioGothicAlternateTrial-Bold/StudioGothicAlternateTrial-Bold.svg#StudioGothicAlternateTrial-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

ul, ol {
    padding: 0;
    margin: 0;
}

* {
    outline: 0 !important;
}

li {
    list-style-type: none;
}

h1, h2, h3, h4, p, .h1, .h2, .h3, .h4 {
    line-height: normal;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
}

body {
    line-height: normal;
    color: #1c1c1c;
    height: 100%;
    background: #ffffff;
    font-family: Montserrat;
    font-weight: 400;
    background: url('/images/pattern-main-bg.png');
}

.container {
    width: 1230px;
    max-width: 1230px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
    background: #676767;
    padding: 63px 0;
}

header {
    position: fixed;
    top: 0;
    height: 215px;
    padding: 18px 0;
    background: #ffffff;
    z-index: 1;
    width: 100%;
    box-shadow: 0px 2px 2px 0px rgba(0, 7, 3, 0.05);
}

.header-slider {
    margin-top: 215px;
}

.header-upper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header-upper >svg {
    width: 180px;
    height: 35px;
}

.header-upper .header-upper__logo {
    width: 205px;
    height: 95px;
    opacity: 1;
    transition: 0.3s all;
}

.header-upper .header-upper__logo:hover {
    opacity: 0.7;
}

.header-upper .header-upper__logo svg {
    width: 100%;
    height: 100%;
}

.header-upper__contacts {
    display: flex;
    flex-direction: column;
}

.header-upper__contacts span {
    font-size: 12px;
    padding-bottom: 7px;
}

.header-upper__contacts a {
    font-size: 16px;
    opacity: 1;
    color: #333333;
    transition: 0.3s all;
}

.header-upper__contacts a:hover {
    opacity: 0.7;
}

.header-lower {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 43px 0 0;
}

.header-lower__menu {
    display: flex;
}

.header-lower__menu-item_block {
    position: relative;
}

.header-lower__menu-item_link {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header-lower__menu-item {
    font-family: StudioGothicAlternateTrial;
    font-weight: 400;
    font-size: 18px;
    color: #333333;
    text-transform: uppercase;
    padding: 7px 26px;
    transition: 0.3s all;
}

.header-lower__menu-item_link {
    padding: 7px 25px 7px 0;
}

.header-lower__menu-item_block.active .header-lower__menu-item,
.header-lower__menu-item_link:hover .header-lower__menu-item,
.header-lower__menu-item:hover {
    color: #ff7f00;
}

.header-lower__menu-item_link .header-lower__menu-item {
    padding: 0;
}

.header-lower__menu-item_link svg {
    width: 12px;
    height: 12px;
    fill: #333333;
    margin-left: 14px;
    transform: rotate(90deg);
    transition: 0.3s all;
}

.header-lower__menu-item_block.active .header-lower__menu-item_link svg,
.header-lower__menu-item_link:hover svg {
    fill: #ff7f00;
}

.header-lower__menu-item_drop {
    position: absolute;
    left: -32px;
    top: 150%;
    width: 360px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    padding: 0 30px;
    background: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(0, 7, 3, 0.19);
    z-index: 2;
}

.header-lower__menu-children {
    font-family: StudioGothicAlternateTrial;
    font-size: 18px;
    font-weight: 400;
    color: #333333;
    padding: 10px 0;
    transition: 0.3s all;
}

.header-lower__menu-children:hover {
    color: #ff7f00;
}

.header-lower__menu-children:first-child {
    padding: 0 0 10px;
}

.header-lower__menu-children:last-child {
    padding: 10px 0 28px;
}

.header-lower__menu-item_block.active .header-lower__menu-item_drop {
    opacity: 1;
    visibility: visible;
}

.header-lower__menu-item_block.active .header-lower__menu-item_link svg {
    transform: rotate(270deg);
}

.header-lower__basket-block {
    display: flex;
    align-items: center;
}

.header-slider {
    overflow-x: hidden;
}

.link-to-basket {
    position: relative;
    opacity: 1;
    transition: 0.3s all;
}

.link-to-basket:hover {
    opacity: 0.7;
}

.link-to-basket svg {
    width: 35px;
    height: 35px;
    fill: #272727;
}

.link-to-basket span {
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    background: #ff7f00;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
}

.pies-content {
    background: #ffffff;
    padding: 127px 0 0;
}

.pies-content.pies-content-with-pdng {
    padding: 72px 0 0;
}

p.title {
    font-family: StudioGothicAlternateTrial;
    font-weight: 700;
    font-size: 36px;
    color: #ff8200;
    text-align: center;
}

p.sub-title {
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    padding: 5px 0;
}

.pies__items {
    display: flex;
    flex-wrap: wrap;
    margin: 14px 0 0;
}

.pies__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3 - 20px);
    margin: 40px 10px;
}

.pies__item img {
    height: 290px;
    max-width: 100%;
    object-fit: contain;
}

.pies__item-name {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 34px 0 13px;
    width: 100%;
}

.pies__item-name p {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.pies__item-info_label {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: 1px solid #b5b5b5;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pies__item-info svg {
    width: 8px;
    height: 8px;
    fill: #b5b5b5;
}

.pies__item-drop {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    background: #ffffff;
    border: 1px solid #cccccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all;
}

.pies__item.active .pies__item-drop {
    opacity: 1;
    visibility: visible;
}

.pies__item-drop-block b {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.pies__item-drop-block span {
    font-size: 14px;
    line-height: 24px;
    display: block;
}

.pies__item-description {
    font-size: 20px;
    line-height: 30px;
    min-height: 90px;
    padding: 0 55px;
    text-align: center;
}

.pies__item-weight {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 21px 0;
}

.pies__item-weight .radio-block:first-child {
    margin-right: 60px;
}

.pies__item-weight input[type='radio'] {
    display: none;
}

.pies__item-weight input[type='radio'] + label {
    position: relative;
    color: #757575;
    cursor: pointer;
    font-size: 20px;
    margin: 0;
}

.pies__item-weight input[type='radio'] + label:before {
    position: absolute;
    content: '';
    top: 6px;
    left: -25px;
    width: 15px;
    height: 15px;
    border: 2px solid #757575;
    border-radius: 50%;
    opacity: 1;
    transition: 0.3s all;
}

.pies__item-weight [type='radio']:checked + label:before {
    border: 2px solid #ff8200;
}

.pies__item-weight [type='radio']:checked + label:after {
    position: absolute;
    content: '';
    left: -21px;
    top: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background: #ff8200;
    transition: 0.3s all;
}

.pies__item-price {
    font-size: 36px;
    font-weight: 700;
    color: #ff8200;
    margin-bottom: 18px;
}

.main_btn {
    display: inline-flex;
    justify-content: center;
    align-self: center;
    padding: 17px 54px;
    font-size: 20px;
    font-weight: 700;
    color: #ff8200;
    background: #ffffff;
    border: 1px solid #ff8200;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s all;
}

.main_btn:hover {
    background: #ff8200;
    color: #ffffff;
}

.main_btn.invert {
    display: inline-flex;
    justify-content: center;
    align-self: center;
    padding: 17px 54px;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    background: #ff8200;
    border: 1px solid #ffffff;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s all;
}

.main_btn.invert:hover {
    background: #ffffff;
    color: #ff8200;
    border: 1px solid #ff8200;
}

.delivery-content {
    background: #ffffff;
    padding: 77px 0 55px;
}

.delivery__items {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 0;
}

.delivery__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 4 - 20px);
    margin: 0 10px;
    padding: 0 10px;
}

.delivery__item svg {
    width: 90px;
    height: 80px;
    fill: #333333;
}

.delivery__item p {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 42px 0 18px;
}

.delivery__item span {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.upper-footer {
    background: #ffffff;
    text-align: center;
    padding: 0 0 119px;
}

.footer-blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-block {
    display: flex;
    flex-direction: column;
}

.footer-block p {
    font-size: 20px;
    color: #ffffff;
    padding: 10px 0;
}

.footer-block p span {
    margin-right: 8px;
}

.footer-block p a {
    font-weight: 700;
    opacity: 1;
    transition: 0.3s all;
    color: #ffffff;
}

.footer-block p a:hover {
    opacity: 0.7;
}

.footer-block p b {
    font-weight: 700;
}

.footer-block__social {
    opacity: 1;
    transition: 0.3s all;
}

.footer-block__social svg {
    width: 24px;
    height: 24px;
    fill: #ffffff;
    margin-right: 20px;
}

.footer-lower {
    display: flex;
    justify-content: space-between;
    padding: 41px 0 14px;
}

.footer-lower span {
    font-size: 20px;
    color: #ffffff;
}

.modal-backdrop {
    background: url('/images/pattern-modal-bg.png') #ffffff;
}

.modal-backdrop.in {
    opacity: 0.9;
}

.modal-dialog {
    width: 700px;
}

.modal-content {
    position: relative;
    box-shadow: none;
    border: 0;
    padding: 20px;
}

.modal-content >svg {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 14px;
    height: 14px;
    fill: #333333;
    opacity: 1;
    cursor: pointer;
    transition: 0.3s all;
}

.modal-content >svg:hover {
    opacity: 0.7;
}

.modal-title {
    font-size: 36px;
    font-weight: 700;
    color: #333333;
    text-align: center;
    padding: 25px 0 15px;
}

.order__items {
    display: flex;
    flex-direction: column;
}

.order__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.order__item-name {
    display: flex;
    align-items: center;
    width: 63%;
}

.order__item-name img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.order__item-name p {
    display: flex;
    flex-direction: column;
}

.order__item-name p b {
    font-size: 20px;
    font-weight: 700;
    color: #333333;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.order__item-name p span {
    font-size: 18px;
    color: #333333;
}

.order__item-info {
    display: flex;
    width: 37%;
    justify-content: space-between;
    align-items: center;
}

.order__item-info .digits {
    display: flex;
    align-items: center;
}

.order__item-info .digits span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    border: 2px solid #e7e7e7;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s all;
}

.order__item-info .digits span svg {
    width: 10px;
    height: 10px;
    fill: #1c1c1c;
    transition: 0.3s all;
}

.order__item-info .digits i {
    font-size: 24px;
    font-weight: 400;
    margin: 0 15px;
    font-style: normal;
}

.order__item-info .digits span:hover {
    border: 2px solid #ff8200;
}

.order__item-info .digits span:hover svg {
    fill: #ff8200;
}

.order__item-info .price {
    font-size: 36px;
    font-weight: 400;
    color: #1c1c1c;
}

p.total {
    position: relative;
    display: flex;
    justify-content: flex-end;
    font-size: 36px;
    font-weight: 700;
    color: #ff8302;
    padding: 20px 0;
}

p.total:before {
    position: absolute;
    content: '';
    left: 0;
    top: 10px;
    width: 100%;
    height: 1px;
    background: #e6e6e6;
}

.order__form {
    display: flex;
    flex-direction: column;
}

.order__form input[type='text'] {
    width: 100%;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #1c1c1c;
    padding: 10px 15px;
    margin: 10px 0;
}

.order__form span {
    font-size: 16px;
    font-weight: 400;
    color: #1c1c1c;
    text-align: center;
    margin: 15px 0;
}

.order__form input[type='submit'] {
    align-self: center;
}